RewriteEngine On

# ============================================================
#        DISPLAY NAMES
# ============================================================


# ------------------------------------------------------------
# Protection des dossiers sensibles
# ------------------------------------------------------------

RewriteRule ^config(?:/|$) - [F,L]
RewriteRule ^logs(?:/|$) - [F,L]


# ------------------------------------------------------------
# API Display Names
# ------------------------------------------------------------

RewriteRule ^get/?$ index.php?action=get [QSA,L]

RewriteRule ^set/?$ index.php?action=set [QSA,L]

RewriteRule ^reset/?$ index.php?action=reset [QSA,L]


# ------------------------------------------------------------
# Pas de listing de dossiers
# ------------------------------------------------------------

Options -Indexes